#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    font-family: var(--font-sans);
}
#container hr {
    margin-bottom: 25px;
}
#job_number {
    display: flex;
    justify-content: flex-end;
    color: gray;
    margin-top: 6px;
}
#title_editor {
    margin: 30px 0px 15px 0px;
    display: flex;
    align-items: center;
}
.editor_label {
    margin-right: 8px;
    font-size: 1.5em;
    font-weight: 600;
}
.editor_sm_label {
    margin-right: 8px;
    font-size: 1.2em;
    font-weight: 600;
}
.editor_input {
    line-height: 1.5em;
    flex-grow: 1; 
}
#teaser_editor {
    margin: 15px 0px 45px 0px;
    display: flex;
    align-items: center;
}
.quill {
    margin-top: 15px;
    margin-bottom: 25px;
}
.upload_section {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: wrap;
}
.upload_subsection {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.file_drop {
    margin: 8px;
}
.alt_text_container {
    display: flex;
    width: 100%;
    margin-top: 25px;
}
.alt_text_container input {
    width: 100%;
    margin-bottom: 20px;
}
.notes {
    margin-top: 8px;
    margin-bottom: 25px;
}
.tag_container {
    display: flex;
    flex-wrap: wrap;

    padding: 8px;
}
.meta_label {
    margin-left: 20px;
    margin-top: 20px;
}