#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    font-family: var(--font-sans);
}
#container hr {
    margin-bottom: 25px;
}
#job_number {
    display: flex;
    justify-content: flex-end;
    color: gray;
    margin-top: 6px;
}
#title_editor {
    margin: 30px 0px 15px 0px;
    display: flex;
    align-items: center; /* Align items vertically */
}

.editor_label {
    margin-right: 8px;
    font-size: 1.5em;
    font-weight: 600;
}

.editor_input {
    line-height: 1.5em;
    flex-grow: 1; /* Take all available horizontal space */
}

#teaser_editor {
    margin: 15px 0px 45px 0px;
    display: flex;
    align-items: center; /* Align items vertically */
}
.quill {
    margin-top: 15px;
    margin-bottom: 45px;
}
.upload_section {
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    justify-content: space-around;
}
.upload_subsection {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 40%;
}
.file_drop {
    margin: 8px;
}
.upload_widget {
    margin: 15px 0px 45px 0px;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    min-width: 120px;
    z-index: 999;
}

/* Add this to your existing CSS file */
.info {
    position: relative;
    margin-left: 12px;
    padding: 4px;
    border: 1px solid lightgray;
    font-size: 0.6em;
    border-radius: 20%;
}

.info:hover .tooltip {
    display: block;
}

.tag_container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    padding: 8px;
}

.sel_tag_text {
    margin:10px;
    width: 220px;
}
